#te_ol .te_ol-content{
	width:978px;
	margin:0 auto;

}
#te_ol .te_ol-contentLeft{
	width:700px;
	margin-right:10px;
	float:left;
	display:inline;
}
#te_ol .nowPos-m{
	margin-bottom:5px;
}
#te_ol .te_ol-contentRight{
	width:262px;
	float:right;
}
#te_ol .te_ol-block1{
	width:207px;
	height:250px;
	float:left;
	margin:15px 0 0 17px;
}
#te_ol .te_ol-p1{
	width:207px;
	height:138px;
}
#te_ol .te_ol-lword1{
	font-size:14px;
	font-family:微软雅黑;
	color:#fe7d32;
	overflow:hidden;
}
#te_ol .te_ol-lword2{
	font-size:12px;
	font-family:微软雅黑;
	color:#646464;
	overflow:hidden;
}
#te_ol .te_ol-lword3 a{
	font-size:10px;
	font-family:微软雅黑;
	color:#a00000;
	text-decoration:underline;
}
#te_ol .ws-rc{
	margin-top:15px;
}
#te_ol .wt-rc{
	margin-top:15px;
}